doctype html
html(lang="en")
	head
		title= 'Watch With'
		script(src="bower_components/angular/angular.js")
		script(src="socket.io/socket.io.js")
		script(src="scripts/watchThisApp.js")
		script(src="scripts/playerModule.js")
		script(src="scripts/socketService.js")
		link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="css/main.css")

	body(ng-app="watchThisApp" ng-controller="mainController as vm")

		div.container-fluid.vidWrapper
			div.row
				video(width="100%" height="auto" autoplay loop)
					source(src="images/videos/splash.mp4" type="video/mp4")
		div.splash
			h1 What's Everyone Watching?
			h2 Watch With Them

		div.whosWatching
			div.container.well
				div.row(ng-repeat="user in vm.currentUsers")
					div.col-xs-12.col-md-6.text-center(ng-click="vm.joinRoom(user.user)")
						a(href="/theater" )
							| {{user.user}}
					div.col-xs-12-col-md-6.text-center
						| THIS VIDEO

		div.container
			div.row
				div.col-xs-12.col-md-4.text-center Join Someone
				div.col-xs-12.col-md-4.text-center Or
				div.col-xs-12.col-md-4.text-center
					button.btn.btn-default.btn-lg(type="button" ng-click="showField = true" ) Start Watching
					div.row
						div.col-xs-12(ng-show="showField == true")
							div.input-group
								input.form-control(type='text', placeholder='Enter your Name' ng-model="vm.user.name")
								span.input-group-btn
									a(href="/theater")
										button.btn.btn-default(type='button' ng-click="vm.startRoom(vm.user)") Go Watch!


